.stick {
    position: fixed;
    left: 0;
    bottom: 0;
    float: left;
    width: 100%; 
    background: rgb(18,64,143);
    /* background: linear-gradient(90deg, rgba(18,64,143,1) 0%, rgb(0, 0, 0) 100%);    */
 }
 .footer {
    width: 100%;
    /* min-height: 80pt; */
    margin: auto;
    text-align: center;
    max-height: 106pt;
    max-width: 370pt;
    background-color: black;
}
 /* .responsive {
    float: left;
  padding: 0 6px;
  width: 20%;
  max-width: 150pt;
}
@media only screen and (max-width: 900px) {
  .responsive {
      float: center;
    width: 24.99%;
    margin: 0px 0;
  }
} */
