<h2 style="text-align:center;">About</h2>
<div class="card-deck">
  <div class="card text-center">
      <div class="card image">
          <img src="../../assets/imgs/DanielAllison.jpeg" width=50% class="mx-auto d-block">
      </div>
      <div class="card-body">
        <h5 class="card-title">Daniel Allison</h5>
        <p class="card-text">Self-nicknamed "Chocolate Fondue," Daniel is probably going to lose the restaurant draft</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
      <div class="card-footer text-muted">
      </div>
  </div>
  <div class="card text-center">
      <div class="card image">
          <img src="../../assets/imgs/BobbyStroup.jpeg" width=50% class="mx-auto d-block">
      </div>
        <div class="card-body">
          <h5 class="card-title">Bobby Stroup</h5>
          <p class="card-text">Texas born and raised and he's got some ridiculous opinions, but that doesn't mean he's wrong</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
        <div class="card-footer text-muted">
      </div>
    </div>
    <div class="card text-center">
      <div class="card image">
          <img src="../../assets/imgs/podcast-mic.jpeg" width=50% class="mx-auto d-block">
      </div>
        <div class="card-body">
          <h5 class="card-title">The Podcast</h5>
          <p class="card-text">Dial-Up Podcast was born out of a desire to slow things down by
            connecting people through comedic conversations.  Kick back, relax, and enjoy the ride.
          </p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
        <div class="card-footer text-muted">
      </div>
    </div>
    <div>
    </div>
    <br>
    <div class="podcastdotco-wrapper" style="overflow:hidden;padding-top:50px;position:relative;"><iframe src="https://embed.pod.co/subscribe-button/dial-up-podcast" frameborder="0" scrolling="no" style="border:0;height:100%;left:0;position:absolute;top:0;width:100%;" class="podcastdotco-subscribe"></iframe></div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>