<h2 style="text-align:center;">About</h2>
<br>
<div class="card-deck">
  <div class="card text-center">
      <div class="card image" style="border:none">
          <img src="../../assets/imgs/DanielAllison.jpeg" width=50% class="mx-auto d-block">
      </div>
      <div class="card-body">
        <h5 class="card-title">Daniel Allison</h5>
        <p class="card-text">
          From Los Angeles and considers himself to be the O.G. Savage.
        His friends call him Daniel, but in the streets, they call him Oso 
      de chocolate.</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>

  </div>
  <div class="card text-center">
      <div class="card image" style="border:none">
          <img src="../../assets/imgs/BobbyStroup.jpeg" width=50% class="mx-auto d-block">
      </div>
        <div class="card-body">
          <h5 class="card-title">Bobby Stroup</h5>
          <p class="card-text">Texas born and raised,
             Bobby loves watching football 
             and completing food challenges.
             Also, he may have some ridiculous opinions, but that doesn't mean he's wrong.
          </p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>

    </div>
    <div class="card text-center">
      <div class="card image" style="border:none">
          <img src="../../assets/imgs/podcast-mic.jpeg" width=50% class="mx-auto d-block">
      </div>
        <div class="card-body">
          <h5 class="card-title">The Podcast</h5>
          <p class="card-text">Dial-Up Podcast was born out of a desire to slow things down by
            connecting people through comedic conversations.  Kick back, relax, and enjoy the ride.
          </p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>
    <div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>