<head>
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Electrolize&family=Secular+One&display=swap" rel="stylesheet">
    <meta property="og:title" content="Dial-Up Podcast" />
    <meta property="og:description" content="A podcast hosted by Daniel Allison and Bobby Stroup where we slow things down
    by connecting people through comedic conversations." />
    <meta property="og:image" content="https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/2010-kodiak-bear-1.jpg/440px-2010-kodiak-bear-1.jpg" />
    <!-- <meta property="og:image" content="./../assets/imgs/webPreview.jpg" /> -->
  </head>
  
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>