<head>
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Electrolize&family=Secular+One&display=swap" rel="stylesheet">
    <meta property="og:title" content="Dial-Up Podcast" />
    <meta property="og:description" content="A podcast hosted by Daniel Allison and Bobby Stroup where we slow things down
    by connecting people through comedic conversations." />
    <meta property="og:image" content="./../assets/imgs/Web Banner.png" />
  </head>
  
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>