
<div class="container" style="margin-left:auto; margin-right:auto;">
    <!-- <div class="podcastdotco-wrapper">
        <iframe data-target="dial-up-podcast" 
        src="https://play.pod.co/dial-up-podcast" 
        frameborder="0" width="100%" scrolling="no" 
        style="overflow:hidden;max-width:750px;height:500px;" 
        class="podcastdotco-player podcastdotco-player--podcast"></iframe>
        <script src="https://play.pod.co/embed/frame-v1.js"></script>
    </div> -->
    <iframe id="player_iframe" 
    src="https://www.buzzsprout.com/1392874?client_source=large_player&amp;amp;iframe=true" 
    scrolling="no" width="100%" height="400" frameborder="0"></iframe>
    <!-- <iframe src="https://www.buzzsprout.com/1392874?client_source=small_player&amp;amp;iframe=true" 
    scrolling="no" width="100%" height="200" frameborder="0"></iframe> -->

</div>
    <img class="rounded mx-auto d-block" src='../../assets/imgs/BigBobbyandLittleD.jpeg' width=95%
        style="border-style:solid; max-width:450pt;">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>