   .container {
    align: center;
   }

    div.gallery img {
        width: 100%;
        height: auto;
      }
      
      * {
        box-sizing: border-box;
      }
    div.icons{
      /* display: inline-block;
      text-align: center; */
      margin: auto;
    }
      .responsive {
        float: left;
        padding: 0 6px;
        width: 20%;
        max-width: 150pt;
      }
      @media only screen and (max-width: 900px) {
        .responsive {
            float: left;
          width: 24.99%;
          margin: 0px 0;
        }
      }
      
      @media only screen and (max-width: 700px) {
        .responsive {
          width: 33.32%;
          margin: 6px 0;
        }
      }
      
      @media only screen and (max-width: 300px) {
        .responsive {
          width: 50%;
        }
      }
      @media only screen and (max-width: 300px) {
        .responsive {
          width: 100%;
        }
      }
      .clearfix:after {
        content: "";
        display: table;
        clear: both;
      }